<div class="uk-section uk-section-default">
    <div class="uk-container">
        <h1 class="uk-h2">Dashboard</h1>
        <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-primary uk-card-body">
                    <h3 class="uk-card-title">Overdue Tasks: 38</h3>
                    <button class="uk-button uk-button-default">View</button>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary uk-card-body">
                    <h3 class="uk-card-title">Overdue Tasks: 38</h3>
                    <button class="uk-button uk-button-default">View</button>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary uk-card-body">
                    <h3 class="uk-card-title">Overdue Tasks: 38</h3>
                    <button class="uk-button uk-button-default">View</button>
                </div>
            </div>
        </div>
    </div>
</div>
