<div class="uk-section uk-section-default">
    <div class="uk-container">
        <h1 class="uk-h2">Tasks</h1>
        <table class="uk-table uk-table-small uk-table-divider uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-table-shrink uk-text-center">Task</th>
                    <th class="uk-table-extend">Name</th>
                    <th class="uk-width-small uk-text-center">Status</th>
                    <th class="uk-width-small uk-text-center">Participants</th>
                    <th class="uk-width-small uk-text-nowrap uk-text-center">Started</th>
                    <th class="uk-width-small uk-text-nowrap uk-text-center">Completed</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="!userTasks.length">
                    <td colspan="6" class="uk-text-center">
                        <div class="uk-margin-top" uk-spinner="ratio: 3"></div>
                        <p class="uk-text-center">Loading..</p>
                    </td>
                </tr>
                <tr *ngFor="let task of userTasks" class="uk-table-middle">
                    <td class="uk-text-center">{{ task.id }}</td>
                    <td>{{ task.element_name }}</td>
                    <td class="uk-text-center">{{ task.status }}</td>
                    <td class="uk-text-center">{{ task.user_id }}</td>
                    <td class="uk-text-center uk-text-small">{{ task.initiated_at | date: 'short' }}</td>
                    <td class="uk-text-center uk-text-small">{{ task.due_at | date: 'short' }}</td>
                    <td class="uk-text-center uk-text-small">

                        <!-- Start of process modal window to view rendered page-->

                        <a class="uk-button uk-button-default" href="#modal-full" uk-toggle>View Process</a>

                            <div id="modal-full" class="uk-modal-full" uk-modal>
                                <div class="uk-modal-dialog">
                                    <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                                        <div class="uk-grid-collapse uk-child-width-1-4@s uk-flex-middle" uk-grid>
                                <div class="uk-background-cover uk-padding-large" uk-height-viewport><h3>{{ task.id }}&nbsp;{{ task.element_name }}</h3></div>
                                    <div class="uk-padding-large">
                                    
                                        <p>Render Screen here</p>
                                     </div>
                                 </div>
                            </div>
                        </div>

                        <!-- End of process modal window to view rendered page-->


                    </td>
                </tr>
            </tbody>
        </table>
        <ul *ngIf="userTasks.length" class="uk-pagination uk-flex-center" uk-margin>
            <li class="pagination-previous">
                <a *ngIf="pagination.currentPage > 1" (click)="getUserTasks(pagination.currentPage - 1)"><span uk-pagination-previous></span></a>
            </li>
            <li *ngFor="let task of userTasks | paginate: pagination; let i = index">
                <a (click)="getUserTasks(pagination.currentPage + i)" [ngClass]="{'uk-disabled': pagination.currentPage === pagination.currentPage + i}">
                    <span>{{ pagination.currentPage + i }}</span>
                </a>
            </li>
            <li class="pagination-next">
                <a *ngIf="pagination.currentPage < pagination.lastPage" (click)="getUserTasks(pagination.currentPage + 1)"><span uk-pagination-next></span></a>
            </li>
        </ul>
    </div>
</div>
