<div class="uk-section uk-section-default uk-padding-remove uk-height-viewport">
    <div *ngIf="authService.authenticated" class="navigation-container">
        <app-navigation></app-navigation>
    </div>
    <div class="uk-container">
        <router-outlet></router-outlet>
    </div>
</div>
